<h4> Sendsay </h4>
<div class="container">

  <form class="chatContainer">
    <div class="chatBox" data-ng-repeat="msg in msgs track by $index">
      <p><span class="author">{{msg.username}}:</span> {{msg.content}}<span class="dateposted">{{msg.posteddate | date:'short'}}</span></p>
    </div>
        <input id="chatInput" type="text" placeholder="Become the cup..." ng-model="msg.content">
        <button type="submit" data-ng-click="addMsg(msg)" style="display:none;"></button>
  </form>

  <aside class="userList">

    <section data-ng-repeat="user in users">
      <p>{{user.username}}</p>
      <a href="#/">Remove Yourself</a>
    </section>
  </aside>
</div>

<p class="water" ng-model="username">Be like water, young <span>{{username}}.</span></p>
