<div class="container">
  <form class="chatContainer" ng-submit="addMsg(msg)">
    <div class="chatBox" data-ng-repeat="msg in msgs">
      <p>{{msg.content}}</p>
      <div class="userBox" data-ng-repeat="user in users">
        <p>{{user.title}}</p>
      </div>
    </div>
        <input class="chatInput" type="text" placeholder="Type Here" ng-model="msg.content">
        <!-- <button type="submit" data-ng-click="addUser(user)"></button> -->
  </form>

  <aside class="userList">
    <section data-ng-repeat="user in users">
      <p>{{user.title}}</p>
      <img ng-src="{{user.image}}" width="50">
    </section>
  </aside>
</div>


<!-- <button data-ng-click="createPost()">Create New Post</button>
<section data-ng-repeat="post in posts">
  <h2>{{post.title}}</h2>
  <p>{{post.content}}</p>
  <a href="#/blog/{{post._id}}">view more</a>
</section>
 -->
