<div class="container">
  <form class="chatContainer">
    <div class="chatBox" data-ng-repeat="msg in msgs">
      <p>
        <span class="author">{{msg.author}}:</span> {{msg.content}}<span class="dateposted">{{msg.posteddate | date:'short'}}</span></p>
    </div>

        <input id="chatInput" type="text" placeholder="Type Here" ng-model="msg.content">
        <input class="authorInput" type="text" ng-model="msg.author">
        <button type="submit" data-ng-click="addMsg(msg)" style="display:none;"></button>
  </form>

  <aside class="userList">
    <section data-ng-repeat="user in users">
      <p>{{user.title}}</p>
      <img ng-src="{{user.image}}" width="50">
    </section>
  </aside>
</div>


<!-- <button data-ng-click="createPost()">Create New Post</button>
<section data-ng-repeat="post in posts">
  <h2>{{post.title}}</h2>
  <p>{{post.content}}</p>
  <a href="#/blog/{{post._id}}">view more</a>
</section>
 -->
