<div class="header"> </div>

<a href="#/admin">Admin</a>
<h1> Sendsay </h1>
<div class="jumbotron">

    <form ng-submit="createUser(user)">

        <h3 class="text-muted">What do they call you, young leaf?</h3>
        <input type="text" placeholder="Name" ng-model="user" required>
<!--         <h3 class="text-muted">What do you look like?</h3>
<input type="url" placeholder="Enter image URL" ng-model="user.image">
<p><img src="{{user.image}}" width="200" height="200"></p> -->

        <p><a class="btn btn-lg btn-success" data-ng-click="addUser(user)">Be one with your body.</a></p>
    </form>
</div>
