<div class="header"> </div>

<a href="#/admin">Admin</a>
<h1> Sendsay </h1>
<div class="jumbotron">

    <form ng-submit="createUser(user); addUsername(user)">

        <h3>What do they call you, young leaf?</h3>
        <input type="text" placeholder="Name" ng-model="user" required>

<!--         <h3 class="text-muted">What do you look like?</h3>
<input type="url" placeholder="Enter image URL" ng-model="user.image">
<p><img src="{{user.image}}" width="200" height="200"></p> -->

        <button class="btn" type="submit">Be one with your body</button>

    </form>
</div>
