body {
  padding: 0px;
  padding-top: 0px;
  padding-right: 0px;
  background-image: url("../images/brickwall.png");
  /*       background-size:cover;
background-repeat:no-repeat; */ }
  body h3 {
    font-family: 'Permanent Marker', cursive;
    color: rgba(0, 0, 0, 0.7); }

#BRUCE {
  background-image: url("../images/bruce1.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 32%;
  height: 100%;
  transition: all 0.3s ease-in-out; }

#BRUCE:hover {
  background-image: url("../images/bruce2.png");
  width: 50%; }

.Odd {
  background-color: rgba(0, 0, 0, 0.2); }

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 7em;
  color: rgba(155, 0, 0, 0.7); }

h4 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 2em;
  color: rgba(155, 0, 0, 0.7); }

.jumbotron {
  background-color: rgba(0, 0, 0, 0.001);
  text-align: center;
  font-family: "helvetica"; }

a {
  color: #00B7FF; }

.userList {
  width: 150px;
  height: 450px;
  margin-left: 5px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: absolute;
  overflow: auto; }
  .userList h3 {
    text-align: center;
    border-bottom: 1px black solid;
    font-size: 1.4em; }

#chatInput {
  width: 607px;
  display: inline-block;
  position: fixed;
  bottom: 65px;
  left: 50px; }

.authorInput {
  width: 100px;
  position: fixed;
  bottom: 25px;
  left: 0px; }

.dateposted {
  font-size: 0.7em;
  float: right; }

.chatContainer {
  width: 607px;
  height: 450px;
  padding-bottom: 15px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1); }
  .chatContainer .chatbox {
    margin-bottom: 25px;
    padding: 5px; }

.container {
  display: inline-block;
  margin: 10px; }

.author {
  font-weight: bold; }

.water {
  margin-left: 30px;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em; }
  .water span {
    color: rgba(155, 0, 0, 0.7); }

.button {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Permanent Marker', cursive;
  border-radius: 7px;
  transition: all 1s ease;
  font-size: 1.2em;
  color: white; }

.button:hover {
  color: rgba(155, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.2); }

.remove {
  font-size: 0.8em;
  color: black; }
