body {
  padding: 50px;
  overflow: hidden;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.userList {
  width: 200px;
  height: 500px;
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  overflow: auto; }

.chatInput {
  width: 607px;
  display: inline-block;
  position: fixed;
  bottom: 25px;
  left: 100px; }

.chatContainer {
  width: 607px;
  height: 500px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: auto; }

.container {
  display: inline-block;
  margin: 10px; }
