body {
  padding: 50px;
  padding-top: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/brickwall.png"); }

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 6em;
  color: rgba(155, 0, 0, 0.7); }

h4 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 2em;
  color: rgba(155, 0, 0, 0.7); }

.jumbotron {
  background-color: rgba(0, 0, 0, 0.001);
  text-align: center;
  font-family: "helvetica"; }

a {
  color: #00B7FF; }

.userList {
  width: 200px;
  height: 450px;
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  overflow: auto; }

#chatInput {
  width: 607px;
  display: inline-block;
  position: fixed;
  bottom: 30px;
  left: 150px; }

.authorInput {
  width: 100px;
  position: fixed;
  bottom: 25px;
  left: 0px; }

.dateposted {
  font-size: 0.7em;
  float: right; }

.chatContainer {
  width: 607px;
  height: 450px;
  padding-bottom: 15px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: auto; }
  .chatContainer .chatbox {
    margin-bottom: 25px; }

.container {
  display: inline-block;
  margin: 10px; }

.author {
  font-weight: bold; }
