body {
  padding: 50px;
  overflow:hidden;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.userList {
  width: 200px;
  height: 500px;
  border: 1px solid black;
  display:inline-block;
  position:absolute;
  overflow:auto;
}
#chatInput{
  width: 607px;
display: inline-block;
position: fixed;
bottom: 25px;
left: 150px;
}
.authorInput{
  width: 100px;
position: fixed;
bottom: 25px;
left: 0px;
}

.dateposted {
    font-size:.7em;
    float:right;
}

.chatContainer {
  width: 607px;
  height: 500px;
  padding-bottom:15px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow:auto;
  .chatbox {
      margin-bottom:25px;
  }
}

.container {
 display:inline-block;
 margin:10px;

}

.author {
    font-weight:bold;
}
